html{
  font-size: 62.5%; /** reset para rems**/
}

*, *::before, *::after {
  box-sizing: inherit;
}
body{
  font-family: 'lato',sans-serif;
  font-size: 1.6rem;
  line-height: 2rem;
}


/** Globales **/
img {
  max-width: 100%;
}

.contenedor{
  max-width: 120rem;
  margin: 0 auto;
}
h1{
  font-size: 3.8rem;

}
h2{
  font-size: 3.4rem;
}
h3{
  font-size: 3rem;
}
h4{
  font-size: 2.6rem;
}
/** Utilidades **/
.seccion{
   margin-top: 2rem;
   margin-bottom: 2rem;
  }
.fw-300 {
  font-weight: 300;
  }
  .centrar-texto {
    text-align: center;
  }
  .d-block {
    display: block!important;
  }
  .contenido-centrado {
    max-width: 800px; /** con esto se acomoda el tamaño **/
  }
  /**Botones**/
  .boton {
    color: #ffffff;/**Blanco**/
    font-weight: 700;
    text-decoration: none;
    font-size: 1.8rem;
    padding: 1rem 3rem;
    margin-top: 3rem;
    display: inline-block;
    text-align: center;
  }
  .boton-amarillo {
   background-color: #E08709; /**Amarillo**/
  }
.boton-verde {
  background-color: #71B100; /**Verde**/
}

/**Header**/
.site-header {
background-color: #333333;
padding: 1rem 0 3rem 0; /** 1 arriba 0 a la derecha 3 abajo y 0 a la izquierda ,manecillas del reloj**/
}
.site-header.inicio{
  background-image: url(../img/header.jpg);
  background-position: center center;
  background-size: cover;
  height: 100vh;
  min-height: 60rem;
}
.contenido-header{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.contenido-header h1{
  color: white;
  padding-bottom: 2rem;
  max-width: 60rem;
  line-height: 2;
}

.barra{
  display: flex;
  justify-content:space-between;
  align-items: center;
  padding-top: 3rem;

}
/**Navegacion**/
.navegacion a{
  color: white;
  text-decoration: none;
  font-size: 1.8rem;
  margin-right: 2rem;
}
.navegacion a:hover{
  color: blue;/** esto hace que cambie de color a azul en este caso al pasar el raton por la barra de navegacion**/
}
.navegacion a:last-of-type{
  margin: 0;
}
#navegacion{
  height: auto;
  white-space: normal;
}

.mayusculas{
  text-transform: lowercase;
}
.iconos-nosotros{
  display: flex;
  justify-content: space-between;/** esto hace que haya un espacio entre los elementos**/
}
.icono {
  flex-basis: calc(33.3% - 1rem);
  text-align: center;
}
.icono h3{
  text-transform: uppercase;
}
.contenedor-anuncios {
display: flex;
justify-content: space-between;
flex-wrap: wrap; /** para que se ajuste la posicion del elemento **/

}
.anuncio {
  flex-grow: 0;
  flex-shrink: 0; /** para que las imagenes o elementos no se encojan **/
  flex-basis: calc(33.3% - 1rem);
  border:  1px solid #B5B5B5;
  background-color: #F5F5F5;
  margin-bottom: 2rem;
}
.contenido-anuncio {
  padding: 2rem;

}
.contenido-anuncio h3, .contenido-anuncio p{
  margin: 0;
}
.precio {
  color: #71B100; /**verde**/
  font-weight: 700;
}
.iconos-caracteristicas {
  list-style: inside;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  max-width: 500px;
  flex:1; /** para que no se compriman los elementos **/

}
.iconos-caracteristicas li {
  /**flex: 1;**/
  display: flex;
}
.iconos-caracteristicas li img {
  margin-right: 2rem;
}
.ver-todas {
  display: flex;
  justify-content: flex-end;
}
/**CONTACTO HOME **/.imagen-contacto {  /**esta es la forma de modificar el tamaño de una imagen **/
background-image: url(../img/encuentra.jpg);
background-position: center center;
background-size: cover;
height: 40rem;
display: flex;
align-items: center;
}
.contenido-contacto {
  flex: 1;
  color: #ffffff;

}
.contenido-contacto p {
  font-size: 1.8rem;
}
/**Seccion inferior **/
.seccion-inferior {
  display: flex;
  justify-content: space-between;
}
.seccion-inferior .blog {
  flex-basis: 60%;

}
.seccion-inferior .testimoniales {
  flex-basis: calc(20% -2rem);
}
.entrada-blog {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}
.entrada-blog .imagen {
  flex-basis: 40%;

} .entrada-blog:last-of-type{
  margin-bottom: 2rem;
}
.entrada-blog .texto-entrada {
  flex-basis: calc(60% - 3rem);
}
.texto-entrada h4 {
  margin: 0;
  line-height: 1.4; /** interlineado en el texto o parrafo **/
}
.testimonial p {
  text-align: center;
}
.texto-entrada a {
  color: black;
  text-decoration: none; /** para borra la linea debajo del titulo **/

}
.texto-entrada h4::after {
  content: '';
  display: block; /** para manipular altura y anchura **/
  width: 15rem;
  height: .5rem;
  background-color: green;
  margin-top: 1rem;
}
.texto-entrada span {
  color: red;
}
.testimoniales {
  width: 350px;
  height: 350px;
}
.testimonial {
  background-color: #71B100;
  font-size: 2.1rem;
  padding: 2rem;
  color: #ffffff;
  border-radius: 1.4rem; /** para darle borde al cuadrado de un testimonial **/
  width: 350px;
  height: 350px;
}
element.style {
  width: 350px;
  height: 350px;
}
.testimonial p {
  text-align: center;
  }
.testimonial blockquote::before {
  content: '';
  background-image: url(../img/comilla.svg);
  width: 4rem;
  height: 4rem;
  position: absolute;
  left: -2rem;
}
.testimonial blockquote {
  position: relative;
  padding-left: 5rem;
  font-weight: 300;
  display: flex;
  justify-content: center;
}
.site-footer {
  background-color: #333333;
  margin: 0;
}
.contenedor-footer {
  padding: 3rem 0; /** tres arriba y abajo cero izquierda y derecha **/
  display: flex;
  justify-content: space-between;
}
.copyright {
  margin: 0;
  color: #ffffff;
}
/** INTERNAS **/
.resumen-propiedad {
display: flex; /** para que se ordenen los elementos **/
justify-content: space-between;
align-items: center;
}
.contenido-nosotros {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /** para separar en 2 columnas por medio de grillas **/
  grid-column-gap: 2rem; /** para separar las columnnas en este caso 20 px **/
}
.contenido-nosotros blockquote {
  font-weight: 900;
  font-size: 2rem;
  padding: 1rem 0 3rem 0;
  margin: 0;
}
.contacto  h1 {
  font-family: "Latin Modern Roman 10";
  font-style: oblique;
}
 /** CONTACTO **/
label {
  display: block; /**ocupa todo el espacio un elemento con este atributo de display block **/

}
